/* universal */
/* google font */
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700;800;900&display=swap');

/* font-family: 'Mulish', sans-serif; */

*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
  text-decoration: none;
}
:root{
  --orange:#FF5400;
  --dark-1:#131318;
  --dark-2:#424247;
  --dark-3:#13131880;
}
body{
  max-width:1915px ;
}
.btn{
  background: var(--orange);
  color:#fff;
  border: none;
  width:175px;
  padding:16px;
  border-radius: 6px;
  font-weight: 600;
}
/* universal Done */
/* header */

header{
  font-family: 'Mulish', sans-serif;
  width: 80%;
  margin: 50px auto 100px;
}

/* nav */
/* logo */
 .logo{
  display: flex;
  align-items: center;
  gap:0 10px
}
.logo h3{
  margin-top: -5px;
}
.logo h3 a{
  color:var(--dark-1);
  text-decoration: none;
  font-size:2.25rem ;
  font-weight: 800;
}
.logo h3 span{
  color:var(--orange);
}
.logo img{
  width: 100%;
}

/* for pc */
.desktop_nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
}
.desktop_nav ul{
  list-style: none;
  display: flex;
  gap:0 30px;
}
.desktop_nav ul li{
  transition: 0.5s;
}
.desktop_nav a{
  color: var(--dark-2);
font-size: 1.1rem;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.mobile_nav  li:hover,
.desktop_nav li:hover{
  transform: translateY(-3px);
}
.mobile_nav  li a:hover,
.desktop_nav li a:hover{
  color:var(--orange)
}

/* for mobile */
.mobile_nav{
  display: none;
  padding-bottom: 50px;
}
.mobile_top{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.mobile_top i{
  font-size: 2rem;
  cursor:pointer;
}
.mobile_list{
  display: none;
}
#mobile_list_id li{
  text-align: center;
  list-style: none;
  margin-top: 25px;
  font-size: 1.25rem;
}
/* nav bar Done */

/* poster section open*/
.poster{
  min-height: 600px;
  background:linear-gradient(180deg, #131318cc 0%, #13131800 100%), url('image/head.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 20px;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.poster h1{
  color: #FFF;
font-size: 4rem;
font-weight: 800;
text-align: center;
}
.poster p{
  color: #FFF;
line-height: 26px; 
margin: 25px 0;
max-width: 700px;
text-align: center;
}
.poster form{
  display: flex;
  gap:30px;
  background: #ffffff4d;
  padding:20px 25px;
  border-radius: 10px;
  font-size: 1.5rem;
}
.poster input::placeholder{
  font-size: .9rem;
}


form div,
.poster button,
.poster input{
  width:175px;
  padding:16px;
  border-radius: 5px;
  border: none;
}
form div{
  width:175px;
  padding:16px;
  background-color:#fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color:var(--dark-3)
}
form div i{
  font-size: 1.5rem;
  color:var(--dark-3)
}

.poster button{
  display: flex;
  justify-content: center;
  gap:10px;
  align-items: center;
}
.poster button i{
  font-size: 1.5rem;
}

/* main */
main{
  width: 80%;
  margin: 0 auto;
  font-family: 'Mulish', sans-serif;
}
/* popular_tour_section start */
.popular_tour_section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 600px;
  margin-bottom: 100px;
}
.popular_tour_dtls{
  width: 50%;
}
.popular_tour_dtls h4{
  color: var(--dark-1);
font-size:2.5rem ;
font-weight: 800;
}

.choose_us_card p,
.popular_tour_dtls p{
  color:var(--dark-2);
line-height: 26px; 
margin: 20px 0;
}
.popular_tour_dtls ul{
  margin-left: 25px;
}
.popular_tour_dtls ul li{
  padding:10px 0;
}
.popular_tour_img img{
  width: 100%;
}

.popular_tour_dtls button{
  margin: 20px 0;
}
/* popular_tour_section end */


/* Choose Your Destination start */
.choose_destination_section{
  margin-bottom: 100px;
}

.deals_discount h3,
.why_choose_section h3,
.choose_destination_section h3{
  color:var(--dark-1);
font-size: 3rem;
font-weight: 800;
text-align: center;
}

.deals_discount p,
.why_choose_section p,
.choose_destination_section p{
  color: var(--dark-2);
  text-align: center;
  font-weight: 400;
  line-height: 26px; 
  max-width: 600px;
  margin: 20px auto;
}
.choose_destination_img{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3,1fr);
  gap:20px;
}

.choose_destination_img img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius: 10px;
}
.choose_destination_img div{
  height: 400px;
  
}
.one{
  grid-column: 1/7;
}
.choose_destination_img div{
  position: relative;
}

.seven h6,
.six h6,
.five h6,
.four h6,
.three h6,
.two h6,
.one h6{
  color:#fff;
  font-size: 2rem;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.two{
  grid-column: 7/-1;
}
.three{
  grid-column: 1/5;
}
.four{
  grid-column:5/10 ;
}
.five{
  grid-column:10/-1 ;
}
.six{
  grid-column:1/7 ;
}
.seven{
  grid-column:7/-1;
}

/* Choose Your Destination end */

/* top destination */
.top_destination_section{
  margin-bottom: 100px;
 
}
.top_destination_section h3{
  font-size: 2.8rem;
  text-align: center;
}
.top_destination_section > p{
  font-size:1.2rem;
  text-align: center;
  max-width: 700px;
  margin: 0 auto 50px;
}


.top_destination_section img{
  width: 100%;
  height: 400px;
  border-radius: 10px;
  object-fit: cover;
}

.top_destination_img{
display: grid;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: repeat(3, 1fr);
gap:20px;

}


.thailand,
.swizarland{
  grid-column: 1/9;
}


.details_thailand,
.details_swizarland{
  grid-column: 9/-1;
  box-shadow: 0 0 20px #ddd;
  padding:20px;
  border-radius: 10px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
.details_kashmir{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-column: 1/5;
  box-shadow: 0 0 20px #ddd;
  padding:20px;
  border-radius: 10px;
  height: 400px;
}
.details_thailand h4,
.details_kashmir h4,
.details_swizarland h4{
  text-align: center;
  font-size: 2rem;
  max-width: 500px;
  margin-bottom: 20px;
}

.details_thailand p,
.details_kashmir p,
.details_swizarland p{
  line-height: 1.25rem;
  max-width: 500px;
  margin: 20px 0;
}

.kashmir{
  grid-column: 5/-1;

}

.top_destination_img h5{
  margin-bottom: 20px;
  color:var(--orange);
  font-weight: 700;
}






/* why_choose_section */
.why_choose_section{
  margin-bottom: 100px;
}
.choose_us_card img{
  width: 15%;
}
.choose_us_card{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(2, 1fr);
  gap:25px;
  margin-top: 30px;
}

.choose_us_card div{
  min-height: 200px;
  min-width: 300px;
  padding:20px;
  border-radius: 10px;
}

.choose_us_card h5{
  color:var(--dark-1);
  font-size: 1.5rem;
}
.hotel{
  grid-column: 1/7;
  background: #fbb5630d;
}

.service{
  grid-column: 7/-1;
  background: #29cef60d;
}

.price_guarantee{
  grid-column: 4/10;
  background: #e944440d;
}
/* why_choose_section Done*/


/* Deals & Discounts section*/
.deals_discount{
  margin-bottom: 80px;
}
.tour_details{
  max-width: 700px;
  max-height: 500px;
  background: rgba(255, 255, 255, 0.80);
  margin: 10%;
  padding:20px;
  border-radius: 10px;
}
.tour_details_background_singapur,
.tour_details_background{
  background: url('image/mal.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content:end;
  min-height: 600px;
  align-items: center;
  margin:50px 0;
  border-radius: 10px;
}
.tour_details p{
  text-align: left;
}

.tour_details h5{
  color:var(--orange);
  font-weight: 900;
  margin-bottom: 20px;
  font-size: 1.25rem;
}
.tour_details div{
  display: flex;
  margin: 20px;
}

.tour_details i{
  color:var(--orange)
}

/* bankok */
.tour_details_background_bankok{
  background: url('image/bankok.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content:start;
  min-height: 600px;
  align-items: center;
  border-radius: 10px;
}

.deals_discount_button{
  text-align: center;
}

/*newsletter_section  */
.newsletter_section{
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 100px;
}
.newsletter_section_div{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newsletter_form{
   border: 1px solid var(--orange);
  padding:50px 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}
.newsletter_section img{
  width: 100%;
}

.newsletter_section h4{
  color: var(--dark-1);
font-size: 1.5rem;
font-weight: 800;
text-align: left;
}

.newsletter_section p{
  color: var(--dark-2);
line-height: 26px;
margin: 15px 0 25px;
text-align: left;
}

.newsletter_form input{
  width: 100%;
  padding: 15px 20px;
}
.newsletter_form input[type=text],
.newsletter_form input[type=email]{
  background: #1313180d;
  border: none;

}
hr{
  background: #1313180d;
  margin-bottom: 20px;
}
.newsletter_img{
  position: relative;
}
.newsletter_img_div{
  position: absolute;
  padding:20px;
  background-color: var(--orange);
  width: 50%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-30deg);
  right:0;
  bottom:80px;
  
}
.newsletter_img_div h4,
.newsletter_img_div p{
  margin: 0;
  color:#fff;
}

/* footer */
footer{
  width: 100%;
  height: 500px;
  background: #1313180d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Mulish', sans-serif;

}
footer p{
  max-width: 700px;
  margin: 20px 0 50px;
}

footer ul{
  display: flex;
  gap:30px
}

footer ul li{
  list-style: none;
}

footer ul li a{
  color:var(--dark-2)
}
footer ul li a i{
  font-size: 1.5rem;
}
.hr{
  width: 50%;
  height: 1px;
  margin: 50px auto ;
  background-color: var(--dark-2);
  
}



/* Responsive for Mobile device */
@media screen and (max-width:600px) {
  /* header */
  footer,
  main,
  header{
    width: 100%;
    padding:15px;
  }
  header{
    margin-top: 10px;
  }
  .desktop_nav{
    display: none;
  }
  .mobile_nav{
    display: block;
  }
  .logo h3 a{
    font-size: 2rem;
  }
  .poster{
    padding:20px 5px
  }
  .poster form{
    flex-direction: column;
    margin-bottom: 20px;
  }
  .poster h1{
    font-size: 3rem;
  }

  form div,
  .poster button,
  .poster input{
    width:230px;
    
  }

  /* main */
  /* popular_tour_section */
  .popular_tour_section{
    flex-direction: column;
  }
  .popular_tour_dtls{
    width: 100%;
  }

  /* choose_destination_img */
  
  .choose_us_card,
  .choose_destination_img{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
  }

 .hotel,
  .service,
  .price_guarantee,
  .seven,
  .six,
  .five,
  .four,
  .three,
  .two,
  .one{
    grid-column: 1;
  }

/* top destination */
  .top_destination_img{
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(6, 1fr);
  }

  .details_swizarland{
    grid-row: 1;
    grid-column: 1/-1;
  }

  .kashmir{
    grid-row: 4;
    grid-column: 1/-1;
  }
  .details_kashmir{
    grid-row: 3;
    grid-column: 1/-1;
  }
  .details_thailand{
    grid-row: 5;
    grid-column: 1/-1;
  }
  .thailand{
    grid-row: 6;
    grid-column: 1/-1;
  }

  .swizarland{
    grid-row: 2;
    grid-column: 1/-1;
  }

/* tour details */
  .tour_details{
    margin: 4%;
    
  }
  .tour_details_background_bankok,
  .tour_details_background_singapur,
  .tour_details_background{
    align-items: end;
  }

  /* newsletter_section */
  .newsletter_section{
    flex-direction: column;
    gap:30px
  }

  .newsletter_form{
    width: 100%;
  }

  .newsletter_img_div {
    right: 7px;
    bottom: 53px;
    width: 58%;
}

  footer{
    height: auto;
    padding-top: 30px;
  }
}

/* Medium device */

@media screen and (min-width:600px) and (max-width:1030px) {
  .desktop_nav{
    display: none;
  }
  .mobile_nav{
    display: block;
  }
  form div,
  .poster button,
  .poster input{
  width:230px;
  
  }
  .poster form{
  flex-direction: column;
  margin-bottom: 20px;
  }

  /* main */
  /* popular_tour_section */
  .popular_tour_section{
    flex-direction: column;
  }
  .popular_tour_dtls{
    
    width: 100%;
  }

  /* newsletter_section */
  .newsletter_section{
    flex-direction: column;
    gap:30px
  }

  .newsletter_form{
    width: 100%;
  }
}